#pinText {
  width: 100px;
}

#existingPara {
  margin-top: 10px;
}

#deleteJumbo {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}

#iconPara {
  margin-top: -40px;
  font-size: 50px;
  color: rgb(193,119,190);
}

#mainHeading {
  margin-top: -20px;
}

#backPara {
  margin-top: 100px;
}

