<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>AboutMePage</title>
    <link rel="stylesheet" href="AboutMePageAssets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="AboutMePageAssets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="AboutMePageAssets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="AboutMePageAssets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="AboutMePageAssets/css/Footer-Basic.css">
    <link rel="stylesheet" href="AboutMePageAssets/css/styles.css">
</head>

<body style="background-size: cover;background-repeat: no-repeat;">
    <nav class="navbar navbar-dark navbar-expand-md fixed-top border-white navigation-clean" id="navBar" style="opacity: 0.85;">
        <div class="container"><a class="navbar-brand text-white" href="#" th:href="Home">JavaJonathan.com</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" th:href="Home"><i class="fa fa-home"></i>&nbsp;Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" th:href="AboutMePage"><i class="far fa-smile-beam"></i>&nbsp;About Me</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" th:href="ProjectPage"><i class="fas fa-clipboard-list"></i>&nbsp;Projects</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" th:href="GuestListMainPage"><i class="fa fa-glass"></i>&nbsp;Wedding Guest List Organizer Web App</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="jumbotron text-white" id="aboutMeJumbo" style="opacity: 0.78;">
        <h1 class="text-center" id="aboutMeHeading">About Me</h1>
        <p class="text-center">I'm <strong>Jonathan Henderson</strong>, a 24 year old aspiring Software Developer with an expertise in Java Software Developement. I have built 3 Desktop Applications, but only one Web Application, this site. Programming in Java makes building
            desktop applications a breeze, but I respect Front-End Developers even more after building this Web App. Learing the technologies necessary , was not easy, but being a natural learner helped immensly. All in all, I am a well-rounded developer,
            with an expertise in Java Software Development.</p>
        <div class="d-flex justify-content-center" id="photoDiv" style="background-repeat: no-repeat;background-size: auto;"><img src="AboutMePageAssets/img/IMG_3075.jpg"></div>
    </div>
    <div id="footer" class="footer-basic">
        <footer>
            <div>
                <p class="d-flex justify-content-center" id="techPara">Built using the follwing technologies:</p>
                <p class="d-flex justify-content-center" id="techIMGpara"><img src="AboutMePageAssets/img/maven.png" width="75" height="75"><img src="AboutMePageAssets/img/springIMG.png" width="75" height="75"><img src="AboutMePageAssets/img/javaIMG.png" width="75" height="75"><img src="AboutMePageAssets/img/tomcatIMG.jpg" width="75" height="75"><img src="AboutMePageAssets/img/thymeleafIMG.png"
                        width="75" height="75"><img src="AboutMePageAssets/img/bootStrapStudioIMG.jpg" width="100" height="75"></p>
            </div>
            <div class="social"><a href="https://www.linkedin.com/in/javajonathan" target="_blank"><i class="icon ion-social-linkedin"></i></a><a href="https://github.com/JavaJonathan" target="_blank"><i class="icon ion-social-github"></i></a><a href="https://www.facebook.com/jonhenderson20" target="_blank"><i class="icon ion-social-facebook"></i></a></div>
            <ul
                class="list-inline">
                <li class="list-inline-item"><a href="#" th:href="Home">Home</a></li>
                <li class="list-inline-item"><a href="#" th:href="AboutMePage">About</a></li>
                </ul>
        </footer>
    </div>
    <script src="AboutMePageAssets/js/jquery.min.js"></script>
    <script src="AboutMePageAssets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>