<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SecretMessageApp</title>
    <link rel="stylesheet" href="SecretMessageAssets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="SecretMessageAssets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="SecretMessageAssets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="SecretMessageAssets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="SecretMessageAssets/css/Footer-Basic.css">
    <link rel="stylesheet" href="SecretMessageAssets/css/styles.css">
</head>

<body style="background-image: url(&quot;SecretMessageAssets/img/spaceBG.jpg&quot;);background-size: cover;background-repeat: no-repeat;">
    <nav class="navbar navbar-dark navbar-expand-md fixed-top border-white navigation-clean" id="navBar" style="opacity: 0.88;">
        <div class="container"><a class="navbar-brand text-white" style="font-family: 'Alfa Slab One', cursive;" href="#" th:href="SecretMessageHome">Secret Message App</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" th:href="Home"><i class="fa fa-home"></i>&nbsp;Return to JavaJonathan</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" th:href="AboutMePage"><i class="far fa-smile-beam"></i>&nbsp;About Me</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" th:href="ProjectPage"><i class="fas fa-clipboard-list"></i>&nbsp;Projects</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="jumbotron" id="mainJumbo" style="opacity: 0.81;">
        <div id="backDiv"><a class="btn btn-primary" id="submitButton" role="button" href="#" th:href="SecretMessageHome"><i class="fa fa-home"></i>&nbsp;<strong>App Home</strong></a></div>
        <h1 class="text-center" style="font-family: 'Alfa Slab One', cursive;">Unscramble Page</h1>
        <p class="text-center d-flex flex-grow-1 justify-content-center" id="jumboDescriptor" th:inline="text"><strong th:text="${mainMessage}">Please type in the message you want to be unscrambled. You will need to provide the password given to the person whom scrambled the message.</strong></p>
        <form method="post" action="#" th:action="@{/unscrambleMessage}">
            <div class="d-flex justify-content-center"><input class="form-control" type="text" id="passwordText" placeholder="Password" name="unscramblePassword"></div>
            <div id="mainTextDiv"><textarea class="form-control d-flex flex-grow-1" id="mainTextArea" placeholder="Please type in message to be unscrambled here:" name="unscrambleUserMessage"></textarea></div>
            <div class="text-center" id="sumbitButtonDiv"><button class="btn btn-primary" id="submitButton" type="submit"><strong>Unscramble Message</strong></button></div>
        </form>
    </div>
    <div id="footer" class="footer-basic" style="opacity: 0.84;background-color: rgb(8,45,61);">
        <footer>
            <div>
                <p class="d-flex justify-content-center" id="techPara">Built using the following technologies:</p>
                <p class="d-flex justify-content-center" id="techIMGpara"><img src="SecretMessageAssets/img/maven.png" width="75" height="75"><img src="SecretMessageAssets/img/springIMG.png" width="75" height="75"><img src="SecretMessageAssets/img/javaIMG.png" width="75" height="75"><img src="SecretMessageAssets/img/tomcatIMG.jpg" width="75" height="75"><img src="SecretMessageAssets/img/thymeleafIMG.png"
                        width="75" height="75"><img src="SecretMessageAssets/img/bootStrapStudioIMG.jpg" width="100" height="75"></p>
            </div>
            <div class="social"><a href="https://www.linkedin.com/in/javajonathan" target="_blank"><i class="icon ion-social-linkedin"></i></a><a href="https://github.com/JavaJonathan" target="_blank"><i class="icon ion-social-github"></i></a><a href="https://www.facebook.com/jonhenderson20" target="_blank"><i class="icon ion-social-facebook"></i></a></div>
            <ul
                class="list-inline">
                <li class="list-inline-item"><a href="#" th:href="Home">Home</a></li>
                <li class="list-inline-item"><a href="#" th:href="AboutMePage">About</a></li>
                </ul>
        </footer>
    </div>
    <script src="SecretMessageAssets/js/jquery.min.js"></script>
    <script src="SecretMessageAssets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>