#navBar {
  background: #ffffff;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  background-color: rgb(43,37,41);
  margin-bottom: 150px;
}

#mainJumbo {
  width: 750px;
  margin: 0 auto;
  height: 400px;
  background-image: url(../../HomePageAssets/img/me.jpg);
}

#jumboDiv {
  margin-top: 75px;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #6d6c6c;
  background-image: url(../../HomePageAssets/img/space2.jpg);
}

#titleDiv p {
  margin-top: -10px;
}

#titleDiv #mainTitle {
  margin-top: -10px;
}

#subTitle {
  margin-top: -5px;
}

#socialMediaPara {
  margin-top: 125px;
  font-size: 48px;
}

#socialMediaPara a {
  margin-left: 10px;
}

#projectsBlock {
  margin: 0 auto;
  width: 800px;
  margin-top: 75px;
  margin-bottom: 50px;
}

#projectContainer {
  background-color: #070707;
  opacity: 1;
  filter: saturate(96%);
}

#champagneIMG {
  height: 125px;
}

#flowerIMG {
  height: 150px;
}

#viewAllButton {
  margin-top: 25px;
  margin-bottom: 15px;
}

#techIMGpara {
  margin-top: -10px;
}

